body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    border: 5px;
    border-color: white;
}
.line{
    color: white;
    border-top: 8px solid;
    border-radius: 5px;
}
.span{
    text-decoration: line-through;
}
.notice{
    text-align: center;
    position: absolute; 
    bottom: 15px;
    left: 25%;
    right: 25%;
    text-decoration:underline;
}
.me{
    border-style:double;
    border-color: white;
    border-radius: 50px;
    margin: 30px;
    display:inline-block;
    width: 80%;
    padding: 5px;
}
img{
    border-radius: 50px;
    width: 500px;
    height: 500px;
    float: left;
    margin: 20px;
}
.joining{
    margin: auto;
    width: 80%;
    text-align: center;
}